<mat-drawer-container class="example-container" autosize style="height: 100%;">
  <mat-drawer #drawer opened class="example-sidenav" mode="side" style="z-index: 9;">
    <sidenav (toggle)="toggle = $event"></sidenav>
  </mat-drawer>

  <div class="example-sidenav-content" [style.margin-left]="toggle ? '-432px' : '0'">
    <button type="button" mat-button>
      Toggle sidenav
    </button>
    <button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button><button type="button" mat-button>
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>