.example-sidenav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #eaf2f7;
  }
  
  .example-sidenav {
    padding: 16px;
  }

  .example-sidenav-content {
    background-color: #eaf2f7;
    height: 100vh;
    padding-top: 16px;
  }