.example-sidenav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #eaf2f7;

  padding: 10px;
  box-shadow: 5px 5px 10px 5px #a5a5a5;
}

.example-sidenav {
  padding: 16px;
}

.example-sidenav-content {
  background-color: #eaf2f7;
  height: 100%;
  overflow-y: scroll;
  z-index: 9;
}

.text-over {
  overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

:host {
  overflow: hidden;
}

.overlay {
  position: fixed;
  // width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
