<div style="background-color: blueviolet; width: 200px; height: 200px;">
    <button (click)="showFiller = !showFiller" mat-raised-button>
        We are Listening!
    </button>

</div>
<mat-card *ngIf="showFiller">
    <div class="form-content col-fill">
        <h2 style="margin-bottom: 0;"><b>Thank you so much for taking the time!</b></h2>
        <h4>please provle the below details!</h4>
        <form >
            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput>
              </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            <mat-form-field appearance="outline" fill>
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>email</mat-icon>
                <input matInput type="email" formControlName="email" placeholder="email" autocomplete="on" required>
                <mat-error *ngIf="form.get('email').hasError('required')">ⓘ Please enter your email id – it's
                    required
                </mat-error>
                <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">ⓘ
                    Please enter a valid email address – it's invalid
                </mat-error>
            </mat-form-field>

            <button style="width: 220px; margin-bottom: 8px; margin-top: 8px; background-color:#173b67; color: white;"
                mat-raised-button (click)="onLoginClick()">Submit Feedback</button>
        </form>
    </div>
</mat-card>